body{
	margin: 0;
	padding: 0;
}
.main-box{
	margin-top: 60px;
	margin-left: 120px;
	margin-right: 120px;
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 35px;
}
h1,h2,footer,.img-card{
	text-align: center;
}
h1{
	font-size: 40px;
}
.img-card{
	margin: 0 60px;
	border:5px solid white;
}
img{
	width: 100%;
}
.img-card p{
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 4em;
}
.intro h2{
	text-align: left;
}
.intro{
	padding-top: 20px;
	padding-left: 160px;
	padding-right: 160px;
	line-height: 1.8em;
}
span{
	font-weight: bold;
}
blockquote p{
	font-size: 20px;
	line-height: 1.6em;
}
blockquote p,blockquote cite{
	margin-left: -20px;
}

.more-info{
	font-size: 24px;
	line-height: 1.5em;
}
a{
	color: #337ab7;
	text-decoration: none;
}

footer{
	margin-top: 30px;
	margin-left: 120px;
	margin-right: 120px;
}

hr{
	border-top: 1px solid #eee;
}